body {
  background-image: url(https://i.pinimg.com/originals/b2/72/93/b27293633185684f0d30bb96aa39e76b.jpg);
  background-size: cover;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
